In [16]:
import pandas as pd

In [26]:
# bang input into dataframe

df = pd.read_csv(r'inputs//01//input.csv', names=['Entry'])

In [27]:
df.head(10)

           Entry
0  77442   88154
1  71181   76363
2  49755   69158
3  38798   22488
4  89857   49242
5  96168   60034
6  68503   43760
7  52053   29173
8  27070   63754
9  78107   13305

In [28]:
# split each row out into two separate parts

df['A'] = df['Entry'].apply(lambda x: x.split(" ")[0].strip())
df['B'] = df['Entry'].apply(lambda x: x.split(" ")[-1].strip())

In [29]:
# create lists for holding each part

a_list = df['A'].to_list()
b_list = df['B'].to_list()

In [30]:
# convert list from string to integers

a_list_int = [int(i) for i in a_list]
b_list_int = [int(i) for i in b_list]

In [31]:
# sort lists numerically

a_list_int.sort()
b_list_int.sort()

In [32]:
# set up counter

count_diffs = 0

# set loop based on length of lists
for i in range(len(a_list_int)):

    # calculate single diff
    diff = a_list_int[i] - b_list_int[i]

    #check if diff is positive and add to counter, if neg, make it positive before adding
    if diff >= 0:
        count_diffs += diff
    else:
        pos_diff = diff*(-1)
        count_diffs += pos_diff
    
#final diffs
count_diffs

2176849

In [37]:
# chall 2 - calculat similarity score by multiplying each value in left list by the number of times it appears in the right list

# set var for score capture
similarity_scores = 0


# loop through one list to grab each element
for a_index in range(len(a_list_int)):

    # loop through each element of second list
    for b_index in range(len(b_list_int)):

        # set var to capture how many appearences
        b_count = 0

        #iterate count each time list 2 element equals list 1 element
        if b_list_int[b_index] == a_list_int[a_index]:
            b_count += 1
        else:
            continue

        # multiply the list 1 item by the number of times it appears in list 2
        single_score = a_list_int[a_index]*b_count

        # add each single item score to the total score count
        similarity_scores += single_score

In [38]:
similarity_scores

23384288